body {
	background-image: url('https://www.websenorllc.com/wp-content/uploads/2018/03/Email-Marketing-1170x600.jpg');
  background-size: cover; 
	font-family: Alegreya;
	font-weight: bold;
}

.hidden {
	display: none;
}

#welcome {
	margin: 100px auto;
	border: 2px solid black;
	width: 600px;
	overflow: hidden;
	border-radius: 10px;
	background-color: white;
	opacity: 0.7;
	text-align: center;
}



p {
	font-size: 25px;
	margin-bottom: 5px;
}

button#go {
	width: 180px;
	padding: 8px;
	border: 1px solid black;
	border-radius: 10px 10px 0 0;
	background-color: gray;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: Alegreya;
	display: none;
}

#elapsedtime {
	text-align: center;
	background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);	
	border: 1px solid black;
	border-radius: 10px 10px 0 0;
	width: 600px;
	margin: 80px auto 0;
	font-size: 40px;
}

#quizz {
	margin: auto;
	border: 2px solid black;
	width: 600px;
	overflow: hidden;
	border-radius: 0 0 10px 10px;
	background-color: white;
	opacity: 0.9;
	height: 298px;
}


.questions {
	padding: 20px;	
	font-size: 19px;
	height: 10%;
}

.progbarcontainer {
	margin: 15px 0;
	height: 25px;
	background-color: gray;
	border-radius: 0 8px 8px 0;
}
.progressbar {

	width: 0%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,165,0,1) 35%, rgba(65,255,0,1) 100%);
	border-radius: 0 8px 8px 0;
}

.next {  /*button next*/
	width: 100px;
	padding: 3px 8px;
	margin: 0 5px 5px 0;
	border-radius: 10px;
	float: right;
	background-color: cyan;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: Alegreya;
	background: none;

}

form {
	font-size: 20px;
	height: 176px;
	margin-top: 37px;
}

#movetoresult {  /*button seeresult*/
	width: 100px;
	padding: 5px 8px;
	margin-top: 140px;
	border: 2px solid black;
	border-radius: 10px;
	float: right;
	background-color: cyan;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: Alegreya;
	background: none;

}

#final {
	margin: auto;
	border: 2px solid black;
	width: 600px;
	overflow: hidden;
	border-radius: 10px;
	background-color: white;
	opacity: 0.9;
	text-align: center;
}

#final h1 {
	padding: 20px;	
	font-size: 30px; 
}

#retry {
	width: 250px;
	padding: 7px 8px;
	margin: 5px auto;
	border-radius: 10px;
	background-color: green;
	font-weight: bold;
	font-size: 25px;
	font-family: Alegreya;
	color: white;	
}

.rightpos {
	text-align: right;
}